.container {
    width: 70%;
    margin: 0 auto;
}

h1 {
    font-size: var(--h1-size, 30px);
    text-align: center;
}

h3 {
    font-size: var(--h3-size, 20px);
}

p {
    font-size: var(--paragraph-size, 16px);
}